<body >

    <!-- <section class="my-5"> -->
         <!-- Section heading -->
          <div class="row" >
                   
   
 
                        <ul class="navbar-nav content-nav text-center">
                            <li>
                                <div class = "background"> 
                                    <img  src="/assets/img/bkg.png" class="center" alt="photo">
                                </div>
                             </li>
                             
                            <li class="nav-item active ml-5">
                              <a [routerLink]="['/PrivatePage/Addbook']" [routerLinkActive]="['active']" class="nav-link text-black"
                                href="#">
                                <span class="sr-only">(current)</span>ADD A BOOK</a>
                            </li>
                            <li class="nav-item active ml-5">
                              <a [routerLink]="['/PrivatePage/RemoveBook']" [routerLinkActive]="['active']" class="nav-link text-black" href="#">
                                <span class="sr-only">(current)</span>DELETE A BOOK</a>
                            </li>
                         
                         </ul>
                    
                            
            
            <!-- Grid column -->
     
          
          
          </div>
             
             
      
          <!-- Grid row --> 
      <!-- </section> -->
        
      
        </body>