
<!-- Footer -->
<footer class="page-footer fixed-bottom">
    <div class=" pre_footer text-right py-3">
        <strong class="ml-4 mr-2"> Follow Us: </strong>
        <a href="">
          <i class="fab fa-instagram  icon-Prefooter "></i>
        </a>
        <a href="">
          <i class="fab fa-facebook icon-Prefooter "></i>
        </a>
      </div>
      <!-- Social Media -->
      <!-- Footer -->
 

    <div class="container box-shadow box-policies fixed-bottom py-3">
        <div class="col-12">
          <a  [routerLink]="['/Faq']" [routerLinkActive]="['active']"  href="#">
           FAQS
          </a>
          <a href="https://termsfeed.com/privacy-policy/d7b3e2e182f890c72fbcf256ba22a5ef">
           PRIVATE POLICY
          </a>
          <a  [routerLink]="['/Contact']" [routerLinkActive]="['active']"  href="#">
            CONTACT
          </a>
          <a href="">
            <i class="far fa-envelope icon-Prefooter-mail text-left"></i>
          </a>
        </div>
      </div>

    </footer>  