
/* header */
.navbar{
    background-color:transparent !important;
    font-family: 'Karla', sans-serif;
    margin-bottom: .25rem !important;
    padding: 0!important;
    box-shadow: none;
}
a:hover {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    color: #fff !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
   box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
   background-color: #4285f4;
   color: #fff !important;
   -webkit-border-radius: .125rem;
   border-radius: .125rem;
   -webkit-transition: all .1s linear;
   -o-transition: all .1s linear;
  transition: all .1s linear;
}

.content-div{
    position: relative;
}
.logo{
    width: 3%;
    height: auto;
    float: left;
    padding-right: 2%;
}
.logo2{
    width: 20%;
    height: auto;
    float: left;
    padding-right: 2%;
}
.logo-img{
    width: 100%;
    background-color: white;
    margin:1%;
    height: auto;
}
.content-nav{
    font-size: 1.5em;
    left: 60%;
    
}
.navbar-toggler {
    float: right;
}
.nav-item {
    margin-left: 3em;
    list-style:none;
}
.icons{
    margin-left: auto;

}
.icon-bar{
    border-radius:0.3em;
    margin-left: 0.5em;
}
.icon-Header{
    color: #757575!important;
    font-size: 1em;
    list-style:none;
}

.icon-Header-li{
    padding:10px 9px;
    transition: .2s;
 
}
.icon-Header{
    color:white!important;
}
.icon-Header:hover {
    background-color: #e25714;

}
.icon-Header-li{
    background-color: #e25714;

}
.navbar-toggler:not(:disabled):not(.disabled) {
    border:none;
}
.nav-center{
    display: inline;
}
.dropdown-item{
    font-size:0.8em;
}
.navbar .dropdown-menu {
    position: absolute !important;
    margin-top: 0;
}
.dropdown-menu{
  font-size: 1rem;
  color: #212529!important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  margin-left: 57%;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 0.6em;
    text-transform: uppercase;
    color: #cc3a3a!important;
    border-bottom: solid 0.5px #fbfaf7;
    background: transparent;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #e25714;
    color: white!important;
}
.Login{
    color: #757575!important;
    font-size: 0.9em;
    font-family: 'Gloria Hallelujah', cursive;
    display: inline;
}

/* Shoping Cart */
.badge{
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
/* searchFrom */
.navbar.navbar-light form .md-form input {
    border-bottom: 1px solid #f5f2f2;
}

.form-inline {
    padding-top: 0.1px;
}
::placeholder{
    color: #757575;
}
/* Responsive */

