<body>
  <header>
    <h2>FAQ </h2>
  </header>
  <section class="cd-faq">
    
  
    <div class="cd-faq-items">
      <ul id="basics" class="cd-faq-group">
        
          <a class="cd-faq-trigger" href="#0">Q. Is ordering online secure?   </a>
          <div class="cd-faq-content">
            <p>A. Yes. We take the utmost care with the information that you provide us when placing an order on our website (or through any other means).  The server that hosts our bookstore encrypts the transmission of all credit card and personal customer information using the Internet-standard SSL (Secure Sockets Layer) protocol.  During the encryption process,
               information is scrambled into small bits of code that cannot be read as they travel to us over the Internet. Once we receive the encrypted information, we use a private, one-of-a-kind key to decode it.  

              All of the information you provide during the ordering process is restricted to our staff, and we make sure that all of our employees up-to-date on our security and privacy policies.  If you have further questions about the security of ordering online from the shop, please feel free to e-mail us at webmaster@wBookShop.org.</p>
          </div> <!-- cd-faq-content -->
      
  
        
          <a class="cd-faq-trigger" href="#0">Q. How do I place my order?
            </a>
          <div class="cd-faq-content">
            <p>A. Once you have finished adding items to your shopping cart and are ready to complete your transaction, move your cursor to the lower-right corner of the screen and click on the “Checkout” button. You will then be transferred to our secure server and asked to either create a new account or place an order without an account.
              </p>
          </div> <!-- cd-faq-content -->
      
  
        
          <a class="cd-faq-trigger" href="#0"> Q. How do I view what’s in my shopping cart?</a>
          <div class="cd-faq-content">
            <p>
               
                A. To view the contents of your cart, click on the “View cart” icon in the upper-right corner of your computer screen. Once you click on this icon, you can easily change the number of copies you want to purchase of a particular item in your cart by updating the quantity listed and then clicking the “Update cart” link. You can also delete any item in your cart by clicking the “Remove” check box to the left of that item and then updating your cart with the "Update cart" link.</p>
          </div> <!-- cd-faq-content -->
      
  
        
          <a class="cd-faq-trigger" href="#0">  Q. How do I add items to my cart?</a>
          <div class="cd-faq-content">
            
              <p>  A. To add a publication or other item to your cart, navigate to the page of the item you are interested in and then choose your desired version of that item (for publications, select Hardcopy, PDF, or Kindle). When you click the “Add to Cart” link, you will be brought to your "Shopping cart" page where you can then enter the quantity of the item that you would like to order using the "Qty" field on the right side of the screen. After you have entered a quantity, you can continue shopping or choose to complete your order.
         </p> </div> <!-- cd-faq-content -->
      
      </ul> <!-- cd-faq-group -->
  
  
      <ul id="account" class="cd-faq-group">
        
          <a class="cd-faq-trigger" href="#0">Q.  What if I have received a defective book?</a>
          <div class="cd-faq-content">
              <p>
              A.  Defective books (e.g., items delivered with ripped or missing pages, a torn cover, or other damage) may be returned for a replacement or full credit.  They must be reported and returned within 30 days of the invoice date.  To report a defective book, please contact our Customer Service department using the information provided at the top of this page.  Damaged books are recycled by our warehosue and are not available for sale or pick-up.      
              </p>
              </div>
            
              
            
  
        
          <a class="cd-faq-trigger" href="#0">Q. How long after placing my order should I expect to receive my shipment?
            </a>
          <div class="cd-faq-content">
<p>
    A. All orders are shipped from our warehouse within 48 hours of the order being placed. Purchases shipped anywhere in the continental United States will arrive within 7-10 business days of the order date. Orders being shipped outside of the United States generally arrive within 3-4 weeks of the order date.

</p>

          </div> <!-- cd-faq-content -->
      
  
        
          <a class="cd-faq-trigger" href="#0">Q. What if I’m receiving duplicate copies of publications or invoices?
            </a>
          <div class="cd-faq-content">

<p>
    A. From time to time, we find duplicate customer accounts on our system, and this occasionally leads to double copies of publications and/or invoices being mailed out. If you are receiving duplicates from us that you have not ordered, please contact our Customer Service department so they can make the necessary changes. If possible, please have available copies of the mailing labels for each item that you have received from us, as this will assist the Customer Service department in resolving the situation quickly. To contact us, please see our customer service information at the top of this page.



</p>
          </div> <!-- cd-faq-content -->
      
  
       
      </ul> <!-- cd-faq-group -->
  
    </div></section>
  

  </body>
