
.container{
  margin-top:5%;
  margin-bottom: 5%;
}
img{
  width: 50%;
}
.product-removal {
  color: rgb(255, 187, 0)!important;
}
@media (max-width: 414px) {
  .table-xs tr,
  .table-xs td,
  .table-xs tbody,
  .table-xs thead,
  .table-xs tfoot,
  .table-xs th {
    display: table;
    width: 100%;
    border-collapse: separate;
  }
  .table-xs > tbody tr:first-child {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-xs td[title]:before {
    content: attr(title) ": ";
  }
  .table-xs td:before {
    white-space: nowrap;
    width: 50%;
    display: table-cell;
    text-align: left;
    font-weight: bold;
  }
  .table-xs .item-row td:first-child,
  .table-xs .item-row td:nth-child(2) {
    border: 0 none;
 
  }
  .table-xs .item-row td:first-child {
    border: 0 none;

  }
  .table-xs .item-row td:last-child {
    background: #eee;
    border-bottom: 2px solid #a2a2a2;
    font-weight: bold;
  }
  .table-xs .item-row img {
    margin-bottom: 1em;
 
  }
  .table-xs .total-row td {
    display: table-cell;
    width: 1%;
    border-top: 0 none;
    border-bottom: 3px double #a2a2a2;
    font-weight: bold;
    font-size: 1.5em;
  }
  .table-xs .total-row td:first-child {
    width: 99%;
  }
 
}
